/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/
html, body {
    background-image: linear-gradient(to bottom right, #0A093B, #003432);
    color: #FFDFAA;
}

/***************************
****************************
Layout Styles
****************************
***************************/


/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/
